 .md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

#login-card{
	position: absolute;
    z-index: 600;
    left: 0;
    right: 0;
    margin: auto;
    width: 230px;
    top: 36px;
}

#lock-screen{
	position: absolute;
	z-index: 500;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgb(255,255,0);
}
#logout-button{
	height: 35px;
}